{% extends 'base.html.twig' %}

{% block title %}StartZeit index{% endblock %}

{% block body %}
    <h1>StartZeit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Zeit</th>
                <th>Max_personen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for start_zeit in start_zeits %}
            <tr>
                <td>{{ start_zeit.id }}</td>
                <td>{{ start_zeit.zeit ? start_zeit.zeit|date('H:i:s') : '' }}</td>
                <td>{{ start_zeit.maxPersonen }}</td>
                <td>
                    <a href="{{ path('start_zeit_show', {'id': start_zeit.id}) }}">show</a>
                    <a href="{{ path('start_zeit_edit', {'id': start_zeit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('start_zeit_new') }}">Create new</a>
{% endblock %}
