{% extends 'layout.html.twig' %}

{% block title %}Kinderfest Postenlauf{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Anmeldung Kinderfest Birsfelden 28. August 2021</h1>
    <div class="row">
        <div class="col s12">
            <p>
                Hier bist du richtig um dich für das 22. Kinderfest in Birsfelden anzumelden! Es findet dieses Jahr nicht nur auf der Migroswiese statt, sondern an 7 Posten in Birsfelden. Diese Posten besuchst du nacheinander. Bitte wähle den Standort aus, bei dem du starten möchtest, und trage dich ein.  
            </p>
            <p>    
                Du musst unbedingt 10 Minuten vor dem Start dort sein! Die Anmeldung ist wegen der Corona-Massnahmen zwingend. Ohne Anmeldung kannst du nicht teilnehmen. Jedes Kind muss einzeln angemeldet werden. Begleitpersonen müssen sich nicht anmelden. Deine Adresse wird 2 Wochen nach dem Fest wieder gelöscht.
            </p>
        </div>
    </div>
    <div class="row">
        {% for punkt in start_punkt %}
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12"><h4>{{ punkt.name }}</h4></div>
                <div class="col s12">
                    {% for zeit in start_zeiten %}
                    <div class="row">
                        <div class="col s4">Start Zeit {{ zeit.zeit|date('H:i') }}</div>
                        <div class="col s4">Frei Pl&auml;tze: {{ zeit.maxPersonen - persons[punkt.id][zeit.id] }}</div>
                        <div class="col s4"><a href="{{ url('register-sp-sz', {spId: punkt.id, szId: zeit.id}) }}">Anmelden</a></div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col s12">
                    {{ punkt.iframe |raw }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}