{% extends 'base.html.twig' %}

{% block title %}Hello ShowRegController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Alle Anmeldungen zum Kinderfest Postenlauf</h1>
    <div class="row">
        <div class="col s3">
            <a class="waves-effect waves-light btn modal-trigger" href="{{ url('show_reg_csv') }}">CSV Export</a>
        </div>
        <div class="col s6">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Alle Mailadressen</a>
        </div>
    </div>
    <div class="row">
    {% for spid in data %}
        {% for sz in spid.zeiten %}
        <div class="col s12"><h3>{{ spid.name }} um {{ sz.zeit|date("H:i") }}</h3></div>
        <div class="col s12">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Vorname</th>
                        <th>Adresse</th>
                        <th>Ort</th>
                        <th>E-Mail</th>
                        <th>Tel</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in sz.personen %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.prename }}</td>
                        <td>{{ person.adresse }}</td>
                        <td>{{ person.plz }} {{ person.ort }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.tel }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
</div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Mail Addressen</h4>
      <p>{{ mails }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Schliessen</a>
    </div>
  </div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
  });

  </script>
{% endblock %}
